* {
  margin: 0;
  padding: 0;
}
body h1 {
  margin: 0;
}

:root {
  --background: #0b0f18;
  --text-color: #e0e4f1;
  --primary: #88a0e7;
  --secondary: #141b2e;
  --accent: #576fb7;
}
.server-status-heading {
  text-align: center;
}

.status-container {
  background-color: var(--background);
  display: inline-flex;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.alt-name {
  text-align: center;
  margin-right: 0.75rem;
}

.status-text {
  display: flex;
  text-align: center;
}

.status-container h1 {
    font-size: 1rem; /* Changed font size */
}